<a href="/index_adm_white"><button class="btn">Voltar para o Home</button></a><br>
<form action="/addEquipamento_white" method="POST">
    <label for="nome">Nome:</label>
    <input type="text" id="nome" name="nome" required>
    <br>
    <button class="btn" type="submit">Registrar</button>
</form>
