<a href="/index_adm_br13"><button class="btn">Voltar para o Home</button></a><br>

<form action="/editarEquipamento_br13/{{equipamento.id}}" method="POST">
    <input type="text" id="nome" name="nome" value="{{equipamento.nome}}" required>
    <br><br>
    <button class="btn" type="submit">Salvar</button>
</form>
