<a href="/index_funcionario"><button class="btn2">Deslogar</button></a><br>
<h2>ADM - Black</h2>
<a href="/addEquipamento"><button class="btn">Adicionar Equipamento</button></a><br>
<a href="/addPeca"><button class="btn">Adicionar Peça</button></a><br>
<a href="/tabelaPeca"><button class="btn">Tabela de Peças</button></a><br>
<a href="/tabelaEquipamento"><button class="btn">Tabela de Equipamento</button></a><br>