<h2>Registro - Predial</h2>
<form action="/register_predial" method="POST">
    <label for="nome">Nome:</label>
    <input type="text" id="nome" name="nome" required>
    <br>
    <label for="senha">Senha:</label>
    <input type="password" id="senha" name="senha" required>
    <br>
    <button class="btn" type="submit">Registrar</button>
</form>