<a href="/index_adm_br11"><button class="btn">Voltar para o Home</button></a><br>
<h2>Listar Equipamento - BR11</h2>
<table>
  <thead>
    <tr>
      <th>Nome Do Equipamento</th>
      <th>Ação</th>
    </tr>
  </thead>
  <tbody>
    {{#each equipamentos}}
    <tr>
      <td>{{this.nome}}</td>
      <td><a href="/delEquipamento_br11/{{this.nome}}" onclick="return confirm('Tem certeza?')"><button class="btn">Deletar</button></a><br>
       <a href="/editarEquipamento_br11/{{this.id}}"><button class="btn">Editar</button></a></td>
    </tr>
    {{/each}}
  </tbody>
</table>