
<h3>Selecionar BR</h3>
<a href="/telascor"><button class="btn">BR10</button></a><br>
<a href="/index_funcionario_br11"><button class="btn">BR11</button></a><br>
<a href="/index_funcionario_br13"><button class="btn">BR13</button></a><br>
<a href="/index_funcionario_predial"><button class="btn">PREDIAL</button></a><br>
